<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>LocalizedRoutesExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_url_tag %>
    <%= hreflang_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>

    <div style="margin: 0 auto; max-width: 800px;">

      <header style="margin-bottom: 32px;">
        <nav>
          <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
            <li style="margin: 0 6px;"><%= link_to root_path, root_path %></li>
            <li style="margin: 0 6px;"><%= link_to one_path, one_path %></li>
            <li style="margin: 0 6px;"><%= link_to two_path, two_path %></li>
            <li style="margin: 0 6px;"><%= link_to three_path, three_path %></li>
          </ul>
        </nav>

        <p>Locales:
          <% I18n.available_locales.each do |locale| %>
            <% if locale == I18n.locale %>
              <strong><%= locale %></strong>
            <% else %>
              <%= locale %>
            <% end %>
          <% end %>
        </p>
      </header>
      
      <main>
        <%= render partial: "layouts/meta" %>
        
        <%= yield %>
      </main>

      <footer style="display: flex; justify-content: flex-end;">
        <%= render partial: "layouts/language_picker" %>
      </footer>
    </div>
  </body>
</html>
