<!DOCTYPE html>
<html>
  <head>
    <title>LocalizedRoutesExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_url_tag %>
    <%= hreflang_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>

    <%= render partial: "layouts/language_picker" %>
    <br><br>
    <%= render partial: "layouts/meta" %>
  </body>
</html>
