<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>LocalizedRoutesExample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= canonical_url_tag %>
    <%= hreflang_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <style>
      body {
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <header style="margin-bottom: 32px; padding: 16px 0 16px;">
      <div class="container">
        <nav>
          <ul style="display: flex; list-style: none; margin: 0; padding: 0;">
            <li style="margin: 0 6px;"><%= link_to root_path, root_path %></li>
            <li style="margin: 0 6px;"><%= link_to one_path, one_path %></li>
            <li style="margin: 0 6px;"><%= link_to two_path, two_path %></li>
            <li style="margin: 0 6px;"><%= link_to three_path, three_path %></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <main style="min-height: calc(100vh - 172px);">
      <div class="container">
        <%= render partial: "layouts/meta" %>
        
        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container" style="display: flex; justify-content: flex-end;">
        <%= render partial: "layouts/language_picker" %>
      </div>
    </footer>
  </body>
</html>
